.navbar {
  box-shadow: 0 0 5px rgba(0,0,0, .2);

  &-menu {
    font-size: .85rem;

    a:hover {
      color: $green;
    }
  }

  .be--navbar-item--join {
    background-color: $green;
    color: $light-color;
    transition: all .2s;

    &:hover {
      background-color: $yellow;
      color: #000;
    }
  }
}