<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="/logo-texto.png" alt="BackEnd Brasil">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-end">
      <div id="navbarMain" class="navbar-menu">
        <div class="navbar-start">
          <a href="http://www.url.com" 
             class="navbar-item has-text-weight-semibold is-uppercase">
            {{__ 'menu.about'}}
          </a>

          <a href="http://www.url.com" 
             class="navbar-item has-text-weight-semibold is-uppercase">
            {{__ 'menu.jobs'}}
          </a>

          <a href="http://www.url.com"
             class="navbar-item has-text-weight-semibold is-uppercase">
            {{__ 'menu.blog'}}
          </a>

          <a href="http://www.url.com" 
             class="navbar-item be--navbar-item--join">
            <span class="icon">
              <i class="fab fa-github fa-lg"></i>
            </span>
            <span class="has-text-weight-semibold">
              {{__ 'menu.join'}}
            </span>
      </a>
          </div>
        </div>      
    </div>
  </div>
</nav>